main.main
  section.work
    h2.work__title.title How Dreamshare works?
    .work-row
      .work-row__item
        p.work-row__step STEP 1
        h3.work-row__title Sed leo enim, condimentum
        p.work-row__text
          | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec
          | rhoncus a leo sit amet facilisis.
      .work-row__item
        p.work-row__step STEP 2
        h3.work-row__title.work-row__title_2 Morbi velit risus
        p.work-row__text
          | Nulla venenatis tempor dui in molestie. Nulla quis dictum purus, sit amet
          | porttitor est.
      .work-row__item
        p.work-row__step STEP 3
        h3.work-row__title Sed leo enim, condimentum
        p.work-row__text
          | Quisque libero libero, dictum non turpis in, luctus semper lorem. Donec
          | rhoncus a leo sit amet facilisis.
  section.partners
    h2.partners__title.title Meet a partner for your best holiday
    .partners-row
      .partners-row__item
        .partners-row__icon
          img.partners-row__icon-item(src='images/Avatar.png', alt='')
        .partners-row__name Bradley Hunter
        .partners-row__title Based in Chicago. I love playing tennis and loud music.
      .partners-row__item
        .partners-row__icon
          img.partners-row__icon-item(src='images/Avatar1.png', alt='')
        .partners-row__name Marie Bennett
        .partners-row__title
          | Currently living in Colorado. Lover of art, languages and
          | travelling.
      .partners-row__item
        .partners-row__icon
          img.partners-row__icon-item(src='images/Avatar2.png', alt='')
        .partners-row__name Diana Wells
        .partners-row__title
          | Living in Athens, Greece. I love black and white classics, chillout
          | music and green tea.
      .partners-row__item
        .partners-row__icon
          img.partners-row__icon-item(src='images/Avatar3.png', alt='')
        .partners-row__name Christopher Pierce
        .partners-row__title
          | Star Wars fanatic. I have a persistent enthusiasm to create new
          | things.
    a.partners__button(href='#') See other partners
  section.discover
    h2.discover__title.title Discover holiday activity ideas
    .discover-row
      .discover-row__item.discover-row__item_first
        p.discover-row__title Sports and Activis
      .discover-row__item.discover-row__item_first
        p.discover-row__title Wellness and Health
      .discover-row__item.discover-row__item_first
        p.discover-row__title.discover-row__title_hidden Extreme Sports and Expeditions
    .discover-row
      .discover-row__item.discover-row__item_second
        p.discover-row__title.discover-row__title_hidden Games
      .discover-row__item.discover-row__item_large.discover-row__item_second
        p.discover-row__title Culture and Education
    .discover-row
      .discover-row__item.discover-row__item_large.discover-row__item_third
        p.discover-row__title Enjomet and Relaxation
      .discover-row__item.discover-row__item_third
        p.discover-row__title.discover-row__title_hidden Trevelling
  section.search-form
    .search-form__title.title Crate your holiday activity
    .search-form__question Hi! What are your holiday interests?
    form.search-form__input
      input.search-form__input-text(type='search', placeholder='Enter your insterests')
      input.search-form__input-button(type='submit', value='Search partners')