footer.footer
  .footer-container
    .footer-container__logo
      a.footer-container__logo-item(href='#') DREAMSHARE
    .footer-container__menu
      p.footer-container__menu-title.footer-title Company
      ul.footer-container__menu-bar
        li.footer-container__menu-item
          a.footer-container__menu-link(href='#') About
        li.footer-container__menu-item
          a.footer-container__menu-link(href='#') Contact
        li.footer-container__menu-item
          a.footer-container__menu-link(href='#') Press
        li.footer-container__menu-item
          a.footer-container__menu-link(href='#') Blog
        li.footer-container__menu-item
          a.footer-container__menu-link(href='#') Terms and Privacy
        li.footer-container__menu-item
          a.footer-container__menu-link(href='#') Help
    .footer-container__partners.footer-title Partners
    .footer-container__sign
      .footer-container__sign-title DESIGNED BY
      img.footer-container__sign-item(src='images/Areto.svg')