header.header
  .header-container
    .header-intro
      a.header-intro__logo(href='#') dreamshare
      .header-intro__enter
        a.header-intro__login(href='#') Log in
        a.header-intro__sign-up(href='#') Sign up
    .header-body
      h1.header-body__title SHARE YOUR HOLIDAY DREAM
      p.header-body__sub-title And find the perfect partner to fullfill it
      a.header-body__button(href='#') Find your holiday partner